{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{% block paragraph %}
  <span{{ attributes.addClass(classes) }}></span>
  {% block content %}
    {{ content }}
  {% endblock %}
{% endblock paragraph %}
