.field--name-field-url, .js-form-type-date {
    display: inline-block;
    border: 1px solid #abaaaa;
    padding: 5px;
}

.form-email, .form-url, .form-select, .form-textarea, .form-number, .form-text, .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    height: 32px;
    padding: 12px 5px;
    line-height: 1.733333;
    font-size: 15px;
    color: #31404b;
    background-color: #ffffff;
    border: 1px solid #abaaaa;
    border-radius: 2px;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}

.horizontal-tabs .horizontal-tabs-list .horizontal-tab-button.selected a {
    color: #252735 !important;
    border-color: #c7d5e1;
    border-bottom: 0px solid #ffffff;
    background: #4c46ff;
}

.horizontal-tabs .horizontal-tabs-list .horizontal-tab-button a {
    border: 0px solid #4c46ff;
    color: #868686;
    display: block;
    padding: 0 7px !important;
    text-decoration: none !important;
    border-radius: 0px 0px 0 0;
}

li.horizontal-tab-button.horizontal-tab-button-0.first.selected a {
    color: #FFF!important;
}

.horizontal-tabs .horizontal-tabs-list .horizontal-tab-button a {
    border: 0px solid #4c46ff;
    color: #252735;
    display: block;
    padding: 0 7px !important;
    text-decoration: none !important;
    border-radius: 0px 0px 0 0;
}


.horizontal-tabs .horizontal-tabs-list {
    border-bottom: 0px solid #c7d5e1;
}

.horizontal-tabs-panes {
    background-color: white;
    box-shadow: 0px 0px 19px -6px #CCC;
    padding-bottom: 20px;
    padding-top: 20px;
}

.node-form .horizontal-tabs .horizontal-tabs-list {
    margin: 0 0 1px;
    font-size: 18px;
}

.horizontal-tabs .horizontal-tabs-list .horizontal-tab-button {

    min-width: 85px;
}


div#edit-field-completion-wrapper {
    background-color: #FFFFFF;
    padding: 25px 20px 10px 20px;
}

div#edit-field-completion-progress-wrapper {
    background-color: #FFFFFF;
    padding: 25px 20px 10px 20px;
}


.node-form .horizontal-tabs .horizontal-tabs-list {
    margin: 0 0 0px;
    font-size: 18px;
    background: #cccccc;
}


.node-form .horizontal-tab-button.selected:hover a, .node-form .horizontal-tab-button.selected:hover, .node-form .horizontal-tab-button.selected {
    color: #FFF !important;
}

.field--name-field-url{
    display: block;
    border: 0px solid #abaaaa;
    padding: 0px;
    margin: 5px 0px 30px 0px;
}






.node-form .wizzard-create-contract span {
    display: block;
    margin-top: 20px;
    width: 200px;
    float: right;
}


.node-form .ui-selectmenu-button.ui-button {
    width: 14%;
    height: 34px;
}


.node-form fieldset legend {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    margin-bottom: 8px;
    line-height: 16px;
    display: block;
}



legend {
    width: 100%;
    border: 0;
    border-bottom: 0px solid #e5e5e5;
}


textarea {
    font-family: arial;
}

input {
    font-family: arial;
}


.node-form .horizontal-tab-button.selected:hover a, .node-form .horizontal-tab-button.selected:hover, .node-form .horizontal-tab-button.selected {
    background-color: #31404b !important;
    border-bottom: 1px solid #FFF!important;
}

li.horizontal-tab-button.selected a strong {
    color: #FFF;
}


div#edit-field-completion-wrapper {
    background-color: #FFFFFF;
    padding: 45px 20px 10px 20px;
    text-align: center;
    font-family: arial;
    font-size: 18px;
    font-weight: 600;
}