{% for item in items %}
  <li{{ attributes.addClass('uppercase') }}>{% if label_hidden is empty %}{{ label }}: {% endif %}<span>{{ item.content|render|striptags|trim|number_format(0, '', ' ') }}</span></li>
{% endfor %}
