<div{{ attributes.addClass('soc') }}>
  {% for item in items %}
    {% set no_protocol = item.content|render|striptags|trim|split('//')[1] ? : item.content %}
    {% set only_domains = no_protocol|split('/')[0] ? : no_protocol %}
    {% set url_domain = '' %}
    {% if only_domains|split('.')[2] %}
      {% set url_domain = only_domains|split('.')[1] %}
    {% else %}
      {% set url_domain = only_domains|split('.')[0] %}
    {% endif %}
    {% if url_domain=='facebook' %}
      {% set url_domain = url_domain ~ '-f' %}
    {% elseif url_domain=='linkedin' %}
      {% set url_domain = url_domain ~ '-in' %}
    {% endif %}
    <a href="{{ item.content }}" rel="external"><i class="fab fa-{{ url_domain }}"></i></a>
  {% endfor %}
</div>
