<div{{ attributes.addClass('field') }}>
  <h3{{ title_attributes }}>{{ label }} <i class="fas fa-shield-alt" style="color: #39b54a;"></i></h3>
  {% for item in items %}
    <p>{{ item.content }}</p>
  {% endfor %}
</div>
