{% if q is not empty %}{{ q }}{% endif %}
<div class="tabs_content">
  <div class="search">
    <div class="date">
      {{ form.created }}
    </div>
    {{ form.s }}
    {{ form|without('s', 'created') }}
    {#<div class="button"><i class="fas fa-search"></i> Find</div>#}
  </div>
</div>
