{%
  set classes = [
    has_parent ? 'js-form-wrapper',
    has_parent ? 'form-wrapper',
  ]
%}
{% if attributes.hasClass('quicktabs-wrapper') %}
  <div{{ attributes.addClass(classes) }}>{{ children }}</div>
{% else %}
  <div{{ attributes.addClass(classes) }}>{{ children }}</div>
{% endif %}
