<div class="svg_cont">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1924px" height="400px" style="top:50px;" class="shape">
    <path fill-rule="evenodd"  fill="rgb(243, 248, 252)" d="M2.000,299.999 C2.000,299.999 372.197,399.999 547.000,399.999 C721.803,399.999 1055.692,247.608 1277.000,215.999 C1498.308,184.391 1924.000,169.999 1924.000,169.999 L1922.000,-0.000 L0.000,-0.000 L2.000,299.999 Z"/>
  </svg>
  <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1924px" height="400px" class="shape">
    <defs>
      <linearGradient id="PSgrad_0" x1="100%" x2="0%" y1="0%" y2="0%">
        <stop offset="0%" stop-color="rgb(9,207,255)" stop-opacity="1" />
        <stop offset="100%" stop-color="rgb(80,61,255)" stop-opacity="1" />
      </linearGradient>
    </defs>
    <path fill-rule="evenodd"  fill="url(#PSgrad_0)" d="M2.000,299.999 C2.000,299.999 372.197,399.999 547.000,399.999 C721.803,399.999 1055.692,247.608 1277.000,215.999 C1498.308,184.391 1924.000,169.999 1924.000,169.999 L1922.000,-0.000 L0.000,-0.000 L2.000,299.999 Z"/>
  </svg>
</div>
