<div class="subscribe">
  <form action="#">
    <div class="heading">{{ ('Subscription for hot crypto news'|t) }}</div>
    {% if page.crypto_notifications.anonymous is not empty %}
      <input type="email" placeholder="{{ ('Your e-mail address...'|t) }}">
    {% endif %}
    <button type="button" class="button sb">{{ ('Subscribe'|t) }}</button>
  </form>
</div>
