<p class="center">
  {% trans %}
    You are viewing the version of the page in English.
    You can translate the current page into your native language and earn money.
  {% endtrans %}
</p>
<a href="#" rel="nofollow" class="translate modal_button"><i class="fas fa-dollar-sign"></i> {{ ('Translate'|t) }}</a>
